@import url(https://fonts.googleapis.com/css?family=Noto+Sans+Vithkuqi:regular,500,600,700);
.btn{
    
    background: #8A33FD;
    border-radius: 5px;
    border: 0px;
    outline: none;
    padding: 7px 20px;
    font-family: 'Noto Sans Vithkuqi';
    font-style: normal;
    font-weight: 500;

    color: #FFFFFF;
    cursor: pointer;
    
}

.btn2 {

    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    padding: 7px 20px;
    font-family: 'Noto Sans Vithkuqi';
    font-style: normal;
    font-weight: 500;

    color: #8A33FD;

    cursor: pointer;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    justify-content: space-around;
    font-family: 'Noto Sans Vithkuqi';
}

.vertical-list{
    list-style: none;
    padding: 0px;
    font-size: 13px;
}

.main-banner{
    width: 100%;
    height: 500px;
    background-image: url('../assets/banner.svg');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: right;
    background-color: rgb(0 181 218);
}